<div class="esriCTSearchInputContainer">
    <div data-dojo-attach-point="divAddressContainer" class="esriCTSearchInput">
        <div class="esriCTSearchContainerDiv">
            <div class="esriCTSearch">
             <div class="esriCTSearchBtn esriCTHeaderTextColorAsBorder">
                    <div class="esriCTClearInput icon-cancel" title="${nls.clearBtnTitle}" data-dojo-attach-point="hideText">
                    </div>
                    <div data-dojo-attach-point="itemSearchIcon" class="esriCTSearchIcon icon-search">
                    </div>
                </div>
                <div class="esriCTSearchLocator">
                    <div>
                        <input data-dojo-attach-point="txtItemSearch" class="esriCTSearchItemInput esriCTHeaderTextColorAsBorder" type="text" />
                    </div>
                </div>
            </div>
            <div class="esriCTAutoSuggest esriCTItemSearch displayNoneAll" data-dojo-attach-point="autoResults">
            </div>
        </div>
    </div>
</div>
