<div data-dojo-attach-point="applicationHeaderParentContainer">
    <div class="esriCTMenuTab esriCTHeaderBackgroundColor esriCTHeaderTextColorAsBorder ">
        <div class="esriCTHomeIcon">
            <img data-dojo-attach-point="applicationHeaderIcon" class="esriCTApplicationIcon" alt="${nls.appHeaderTitle}" />
        </div>
        <div class="esriCTMenuTabRight">
            <div data-dojo-attach-point="applicationHeaderWidgetsContainer" class="esriCTMenuTabTable esriCTHeaderTextColor">
            </div>
        </div>
        <div data-dojo-attach-point="applicationHeaderName" class="esriCTMenuTabLeft esriCTHeaderTextColor displayBlock">
        </div>
    </div>
    <div data-dojo-attach-point="divLoadingIndicator" class="esriCTLoadingIndicator displayNoneAll">
        <div class="esriCTFullContainer">
            <div align="center">
                <div>
                    <div class="esriCTMainLoader">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>