<div data-dojo-attach-point="galleryandPannels" class="esriCTGalleryContent">
    <div class="esriCTLeftPanel">
        <div data-dojo-attach-point="groupPanel" class="esriCTInnerLeftPanelTop displayNone">
            <div data-dojo-attach-point="groupDescPanelHeader" class="esriCTGalleryNameSample">
            </div>
            <div data-dojo-attach-point="groupName" class="esriCTLeftPanelHeader esriCTHeaderBackgroundColorAsTextColor">
            </div>
            <div class="esriCTLeftText esriCTBodyTextColor">
                <div class="esriCTLeftPanelDesc" data-dojo-attach-point="groupDescription">
                    <div class="esriCTGroupDesc" data-dojo-attach-point="groupDesc">
                    </div>
                </div>
                <span class="esriCTExpand" data-dojo-attach-point="expandGroupDescription"></span>
            </div>
        </div>
        <div class="esriCTInnerLeftPanelBottom displayNone">
            <div data-dojo-attach-point="sortByLabelMbl" class="esriCTTopPanel sortByLabelMbl">
                <div data-dojo-attach-point="leftPanelHeader" class="esriCTGalleryNameCategories">
                </div>
                <div class="esriCTSortByContainer">
                </div>
            </div>
            <div data-dojo-attach-point="tagsCategoriesContent" style="display: none;">
                <div class="esriCTCategoriesHeader esriCTTopPanel  ">
                    <div data-dojo-attach-point="tagsCategories" class="esriCTCategoriesMedia ">
                    </div>
                </div>
                <div class="esriCTPadding">
                    <div data-dojo-attach-point="tagsCategoriesCloud" class="esriCTCategories esriCTBodyTextColor ">
                    </div>
                </div>
            </div>
            <div data-dojo-attach-point="geographicTagsContent" style="display: none;">
                <div class="esriCTCategoriesHeader esriCTTopPanel ">
                    <div data-dojo-attach-point="geoTagsCloudHeader" class="esriCTCategoriesMedia">
                    </div>
                </div>
                <div class="esriCTPadding">
                    <div data-dojo-attach-point="geoTagsCloud" class="esriCTCategories esriCTBodyTextColor">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
